PORT=3000
CLIENT_ID=your_google_client_id_here
CLIENT_SECRET=your_google_client_secret_here
REDIRECT_URI=http://localhost:3000/auth/google/callback
COOKIE_SECRET=replace_with_a_random_secure_string_here
VITE_AUTH_API_KEY=your_api_key_here

VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here
#Anon key:- your_anon_key_here
