PORT=3000
CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret
REDIRECT_URI=http://localhost:3000/auth/google/callback
COOKIE_SECRET=your_cookie_secret
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret
VITE_AUTH_API_KEY=your_auth_api_key
